.main_div{
   background-color: #f0f0f0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   padding: 20px;
  background-color: rgb(253, 247, 247);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(2, 2, 2, 0.1);
    width: 30%;
    height: 80vh;
   margin-left: 25%;  
   margin-top: 5%;
  
}
.del_btn{
    height: 45px;
 width: 20%;
 border-radius: 0.5rem;
  background-color: rgb(12, 12, 54);
 font-weight: bold;
 font-size: 12px;
    margin-top: 10%;
    margin-left: 40%;
    color: #fff;
 
}

.del_btn:hover{
 background-color: rgb(20, 20, 84);

}
.search_div{
    background-color: #ffff;
}